{% assign link = include.link %}

{% if link.icon %}
{% assign icon = link.icon %}
{% elsif link.label == "GitHub" %}
{% assign icon = 'fab fa-github' %}
{% elsif link.label == "Twitter" %}
{% assign icon = 'fab fa-twitter' %}
{% elsif link.label == "LinkedIn" %}
{% assign icon = 'fab fa-linkedin' %}
{% elsif link.label == "Website" %}
{% assign icon = 'fas fa-link' %}
{% elsif link.label == "Scholar" %}
{% assign icon = 'fas fa-graduation-cap' %}
{% elsif link.label == "Keybase" %}
{% assign icon = 'fab fa-fw fa-keybase' %}
{% elsif link.label == "Facebook" %}
{% assign icon = 'fab fa-fw fa-facebook-square' %}
{% elsif link.label == "Xing" %}
{% assign icon = 'fab fa-fw fa-xing-square' %}
{% elsif link.label == "Instagram" %}
{% assign icon = 'fab fa-fw fa-instagram' %}
{% elsif link.label == "Tumblr" %}
{% assign icon = 'fab fa-fw fa-tumblr-square' %}
{% elsif link.label == "Email" %}
{% assign icon = 'fas fa-fw fa-envelope-square' %}
{% elsif link.label == "Bitbucket" %}
{% assign icon = 'fab fa-fw fa-bitbucket' %}
{% elsif link.label == "Gitlab" %}
{% assign icon = 'fab fa-fw fa-gitlab' %}
{% elsif link.label == "Stackoverflow" %}
{% assign icon = 'fab fa-fw fa-stack-overflow' %}
{% elsif link.label == "Lastfm" %}
{% assign icon = 'fab fa-fw fa-lastfm-square' %}
{% elsif link.label == "Dribbble" %}
{% assign icon = 'fab fa-fw fa-dribbble' %}
{% elsif link.label == "Pinterest" %}
{% assign icon = 'fab fa-fw fa-pinterest' %}
{% elsif link.label == "Foursquare" %}
{% assign icon = 'fab fa-fw fa-foursquare' %}
{% elsif link.label == "Steam" %}
{% assign icon = 'fab fa-fw fa-steam' %}
{% elsif link.label == "YouTube" %}
{% assign icon = 'fab fa-fw fa-youtube' %}
{% elsif link.label == "Soundcloud" %}
{% assign icon = 'fab fa-fw fa-soundcloud' %}
{% elsif link.label == "Weibo" %}
{% assign icon = 'fab fa-fw fa-weibo' %}
{% elsif link.label == "Flickr" %}
{% assign icon = 'fab fa-fw fa-flickr' %}
{% elsif link.label == "Codepen" %}
{% assign icon = 'fab fa-fw fa-codepen' %}
{% elsif link.label == "Vine" %}
{% assign icon = 'fab fa-fw fa-vine' %}
{% else %}
{% assign icon = 'fas fa-link' %}
{% endif %}