{% if include.category %}
{% assign research-directions = site.research_directions | where: "category", include.category %}
{% else %}
{% assign research-directions = page.research-directions %}
{% endif %}

{% assign sorted-research-directions = research-directions | sort: "order" %} <!-- or sort: "date" -->

<div class="research-directions__wrapper">

  {% for r in sorted-research-directions %}
  <div class="research-directions-item">
    <a href="{{ r.url | relative_url }}" title="{{r.title}}">

      <div class="direction-image" style="background-image: url('{{ r.header.overlay_image | relative_url }}');
      {% if r.header.overlay_filter %}
        background-image: {{ r.header.overlay_filter }}, url('{{ r.header.overlay_image | relative_url }}');
      {% endif %}">
        <div class="direction-header">
          {% if r.logo_image_path %}
          <div class="research-directions-logo">
            {% if r.logo_dark_image_path %}
            <img src="{{ r.logo_image_path | relative_url }}" class="theme-image light-image"
              alt="{% if r.alt %}{{ r.alt }}{% endif %}">
            <img src="{{ r.logo_dark_image_path | relative_url }}" class="theme-image dark-image"
              alt="{% if r.alt %}{{ r.alt }}{% endif %}">
            {% else %}
            <img src="{{ r.logo_image_path | relative_url }}" alt="{{ r.title }}">
            {% endif %}
          </div>
          {% endif %}
          <h2>{{ r.title }}</h2>
        </div>
        {% if r.one-liner %}
        <div class="direction-excerpt">
          {{ r.one-liner | markdownify }}
        </div>
        {% endif %}
      </div>



    </a>

  </div>
  {% endfor %}

</div>